<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<html lang="en">

<div class="navbar"  id="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Ping Pong</a>
    <Ul  class = "nav">
      {% if user.is_authenticated %}
        <li><a href="/">{{ user.username }}</a></li>
        <li><a href="{% url 'pong_app.views.makes.make_league' %}">Make a League</a></li>
        <li><a href="{% url 'pong_app.views.makes.make_team' %}">Make a Team</a></li>
        <li><a href="#">Find a League</a></li>
        <li><a href="#">Find a Team</a></li>
        <li><a href="/accounts/logout/">Log Out</a></li>
        <form class="navbar-search pull-left">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      {% else %}
        <li><a href="/">Log In</a></li>
      {% endif %}
    </Ul>
  </div>
</div>

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>