<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div id="navbar">
        <a href="/">{{user.username}}</a>
        <a href="/accounts/logout/">Log Out</a>
    </div>
    {% else %}
    <div id="navbar">
        <a href="/">Log In</a>
    </div>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>