<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<script src="{{ STATIC_URL }}jqplot/jquery.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
<html lang="en">

<div class="navbar"  id="navbar">
  <div class="navbar-inner">
    {% load util_tags %}
    <a class="brand" href="{% BASE_URL %}">Ping Pong</a>
    <Ul  class = "nav">
      {% if user.is_authenticated %}
        <li><a href="{% url 'pong_app.views.profiles.user_profile' user_id=user.id %}">{{ user.username }}</a></li>
        <li><a href="{% url 'pong_app.views.makes.make_league' %}">Make a League</a></li>
        <li><a href="{% url 'pong_app.views.makes.make_team' %}">Make a Team</a></li>
        <li><a href="{% url 'pong_app.views.misc.leagues' %}">Find a League</a></li>
        <li><a href="{% url 'pong_app.views.misc.teams' %}">Find a Team</a></li>
        <li><a href="{% url 'pong_app.views.misc.about' %}">About</a></li>
        <li><a href="{% url 'django.contrib.auth.views.logout' %}">Log Out</a></li>
      {% else %}
        <li><a href="{% url 'pong_app.views.misc.about' %}">About</a></li>
        <li><a href="{% BASE_URL %}">Log In</a></li>
      {% endif %}
    </Ul>
  </div>
</div>

<head>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>
</body>

</html>