{% extends 'base/base.html' %}

{% block content %}
<div class="row-fluid">
  <div class="span2">
    <h3>Teams</h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <table id="teams" class="table table-bordered table-striped table-condensed table-hover">
      <th>Name</th>
      <th>Captain</th>
      {% for team in teams %}
        <tr>
          <td><a href={% url 'pong_app.views.profiles.team_profile' team_id=team.id %}>{{ team.name }}</a></td>
          <td>{{ team.captain }}</td>
        </tr>
      {% endfor %}
    </table>
  </div><!--/span-->
</div><!--/row-->
{% endblock %}