{% extends 'updates/_update.html' %}

{% block body %}
<form action="/update_league/{{ league.id }}" method="post">
	{% csrf_token %}
	{{ league_form.as_p }}
<input type="submit" value="Submit" />
</form>

<h1> Drop a team </h1>
<form id="drop_team" action="/update_league/{{ league.id }}" method="post">
    {% csrf_token %}
    <select name="team_to_drop" form="drop_team">
        {% for team_league in team_leagues %}
            <option value="{{ team_league.team.id }}"> {{ team_league.team.name }} </option>    
        {% endfor %}
    </select>
    <input type="submit" value="Submit" />
</form>


<h2>
	<a href='{% url 'pong_app.views.profiles.league_profile' league_id=league.id %}'> Back to Profile </a>
</h2>

{% endblock %}
