{% extends 'updates/_update.html' %}

{% block content %}


<h1> Add a user </h1>
<form action="/update_team/{{ team.id }}" method="post">
    {% csrf_token %}
    {{ add_user_form.as_p }}
    <input type="submit" value="Submit" />
</form>


<h1> Drop a user </h1>
<form id="drop_user" action="/update_team/{{ team.id }}" method="post">
    {% csrf_token %}
    <select name="user_to_drop" form="drop_user">
        {% for team_user in team_users %}
            <option value="{{ team_user.user.id }}"> {{ team_user.user.username }} </option>    
        {% endfor %}
    </select>
    <br>
    <input type="submit" value="Submit" />
</form>


<h1> Change team name </h1>
<form action="/update_team/{{ team.id }}" method="post">
    {% csrf_token %}
    {{ team_form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}
