{% extends "base/base.html" %}

  {% block title %}Log in{% endblock %}

{% block content %}

<div class="row-fluid">
  <div class="span3">
    <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
      {% csrf_token %}
      <label for="username">User name:</label>
      <input type="text" name="username" value="" id="username">
      <label for="password">Password:</label>
      <input type="password" name="password" value="" id="password">
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>

    <a href='{% url 'pong_app.views.registration.register' %}'>Need to register?</a>
    <a href='{% url 'pong_app.views.registration.password_reset' %}'>Forgot your password?</a>
  </div>
</div>

{% endblock %}
