{% extends 'base/base.html' %}

{% block title %} Team Profile {% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
        <h3>Team Name: {{ team.name }}</h3>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <h3> Leagues </h3>
        <table id='team_leagues'  class="table table-bordered table-striped table-condensed table-hover">
          <tr>
              <th>Name</th>
              <th>Sport</th>
              <th>Location </th>
              <th>Elo</th>
          </tr>
          {% for team_league in team_leagues %}
            <tr>
                <td><a href='{% url 'pong_app.views.profiles.league_profile' league_id=team_league.league.id %}'>{{ team_league.league.name }}</td>
                <td>{{ team_league.league.sport }}</td>
                <td>{{ team_league.league.location }}</td>
                <td>{{ team_league.elo }}</td>
            </tr>
          {% endfor %}
        </table>
      </div><!--/span-->
      <div class="span6">
        <h2> Members </h2>
        <table id='team_members'  class="table table-bordered table-striped table-condensed table-hover">
            <tr>
                <th>Player Name</th>
            </tr>
            {% for team_user in team_users %}
              <tr>
                  <td><a href='{% url 'pong_app.views.profiles.user_profile' user_id=team_user.user.id %}'>{{ team_user.user.username }}</a></td>
              </tr>
            {% endfor %}
            <tr>
              <td><a href='{% url 'pong_app.views.profiles.user_profile' user_id=team.captain.id %}'>{{ team.captain.username }}</a> * Captain</td>
            </tr>
        </table>
      </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid">
      <div class="span2">
          <a href='{% url 'pong_app.views.misc.team_matches' team_id=team.id %}' class="btn"> Match History </a>
      </div><!--/span-->
      <div class="span2">
          <a href='{% url 'pong_app.views.updates.update_team' team_id=team.id %}' class="btn"> Update Team </a>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/container-->
{% endblock %}