{% extends "base/base.html" %}

{% block title %}Index Page{% endblock %}

{% block content %}


<h3> Index Page </h3>

<a href='{% url 'pong_app.views.misc.index' %}'> index </a></p>
<a href='{% url 'pong_app.views.misc.player_index' player_id=1 %}'> player_index </a></p>

<a href='{% url 'pong_app.views.profiles.league_standings' league_id=1 %}'> standings </a></p>
<a href='{% url 'pong_app.views.misc.enter_result' %}'> enter_result </a></p>
<a href='{% url 'pong_app.views.makes.make_player' %}'> make_player </a></p>
<a href='{% url 'pong_app.views.updates.update_player' %}'> update_player </a></p>
<a href='{% url 'pong_app.views.makes.make_team' %}'> make_team </a></p>
<a href='{% url 'pong_app.views.updates.update_team' team_id=1 %}'> update_team </a></p>
<a href='{% url 'pong_app.views.profiles.team_profile' %}'> team_profile </a></p>
<a href='{% url 'pong_app.views.profiles.player_profile' player_id=1 %}'> player_profile </a></p>
<a href='{% url 'pong_app.views.makes.make_league' %}'> make_league </a></p>
<a href='{% url 'pong_app.views.add_x_to_y.add_team_to_league' %}'> add_team_to_league </a></p>
<a href='{% url 'pong_app.views.add_x_to_y.add_player_to_team' %}'> add_player_to_team </a></p>

{% endblock %}
