{% extends '_standings.html' %}

{% block title %} League Profile {% endblock %}

{% block content %}

<table>
    <tr>
        <th>Team Name</th>
        <th>Elo</th>
    </tr>
    {% for team_league in team_leagues %}
    <tr>
        <td><a href='{% url 'pong_app.views.profiles.team_profile' team_id=team_league.team.id %}'> {{ team_league.team.name }}</a></td>
        <td>{{ team_league.elo }}</td>
    </tr>
    {% endfor %}
</table>

<h2>
    <a href='{% url 'pong_app.views.updates.update_league' league_id=league.id %}'> Update this league's info</a>
</h2>

{% endblock %}
