{% extends 'base/base.html' %}

{% block title %} Team Profile {% endblock %}

{% block content %}

<h2>Team Name</h2>
{{ team.name }}

<h2>Team Captain</h2>
{{ team.captain.username }}

<h2> Leagues </h2>
<table id='team_leagues'>
    <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Location </th>
        <th>Elo</th>
    </tr>
    {% for team_league in team_leagues %}
    <tr>
        <td><a href='{% url 'pong_app.views.profiles.league_profile' league_id=team_league.league.id %}'>{{ team_league.league.name }}</td>
        <td>{{ team_league.league.sport }}</td>
        <td>{{ team_league.league.location }}</td>
        <td>{{ team_league.elo }}</td>
    </tr>
    {% endfor %}
</table>

<h2> Members </h2>
<table id='team_members'>
    <tr>
        <th>Player Name</th>
    </tr>
    {% for team_user in team_users %}
    <tr>
        <td><a href='{% url 'pong_app.views.profiles.user_profile' user_id=team_user.user.id %}'>{{ team_user.user.username }}</a></td>
    </tr>
    {% endfor %}
</table>

<h2>
    <a href='{% url 'pong_app.views.misc.team_matches' team_id=team.id %}'> Match History </a>
</h2>

<h2>
    <a href='{% url 'pong_app.views.updates.update_team' team_id=team.id %}'> Update Team </a>
</h2>

{% endblock %}
