{% extends 'base/base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1">
      <h3> Matches </h3>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table id='matches' class="table table-bordered table-striped table-condensed table-hover">
        <tr>
          <th>Team 1</th>
          <th>Team 1 Starting Elo</th>
          <th>Team 2</th>
          <th>Team 2 Starting Elo</th>
          <th>Winner</th>
          <th>League</th>
          <th>Start time</th>
          <th>Extra info</th>
        </tr>
        {% for match in matches %}
          <tr>
            <td><a href='{% url 'pong_app.views.profiles.team_profile' team_id=match.team1.id %}'>{{ match.team1.name }}</td>
            <td>{{ match.start_elo1 }}</td>
            <td><a href='{% url 'pong_app.views.profiles.team_profile' team_id=match.team2.id %}'>{{ match.team2.name }}</td>
            <td>{{ match.start_elo2 }}</td>
            <td>
              {% if match.result == 1 %}
                {{ match.team1.name }}
              {% elif match.result == 0 %}
                Draw
              {% elif match.result == -1 %}
                {{ match.team2.name }}
              {% else %}
                Error, invalid value: {{ match.result }}
              {% endif %}
            </td>
            <td><a href='{% url 'pong_app.views.profiles.league_profile' league_id=match.league.id %}'>{{ match.league.name }}</td>
            <td>{{ match.start_time }}</td>
            <td>{{ match.match_info }}</td>
          </tr>
        {% endfor %}
      </table>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->
{% endblock %}