{% extends '_base.html' %}

{% block body %}

{{team.name}}

{{team.captain.user_name}}

<h1> Leagues </h1>
<table id='team_leagues'>
    <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Location </th>
        <th>Elo</th>
    </tr>
    {% for team_league in team_leagues %}
    <tr> 
        <td><a href='{% url 'pong_app.views.profiles.league_profile' league_id=team_league.league.id %}'>{{ team_league.league.name }}
        <td>{{ team_league.league.sport }}</td>
        <td>{{ team_league.league.location }}</td>
        <td>{{ team_league.elo }}</td>
    </tr>
    {% endfor %}
</table>

<h1> Members </h1>
<table id='team_members'>
    <tr>
        <th>Player Name</th>
    </tr>
    {% for team_user in team_users %}
    <tr> 
        <td><a href='{% url 'pong_app.views.profiles.user_profile' user_id=team_user.user.id %}'>{{ team_user.user.username }}</a></td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
