{% extends '_update.html' %}

{% block body %}
<h1> Add a player </h1>
<form action="/update_team/" method="post">
{% csrf_token %}
{{ add_player_form.as_p }}
<input type="submit" value="Submit" />


<h1> Drop a player </h1>
<form action="/update_team/" method="post">
<select>
{% for player in players %}
	<option value="{{ player.player_name }}"> {{ player.player_name }} </option>	
{% endfor %}
</select>
<input type="submit" value="Submit" />
</form>


<h1> Change captain or team name </h1>
<form action="/update_team/" method="post">
{% csrf_token %}
{{ team_form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}
