{% extends 'base/base.html' %}

{% block title %} User Profile {% endblock %}

{% block content %}
{% block body %}

<h1>Username</h1>
{{user.username}}

<table>
    <tr>
        <th>Team Name</th>
        <th>League Name</th>
        <th>Elo</th>
        <th>Sport</th>
    </tr>
    {% for tl in team_leagues %}
    <tr>
        <td><a href='{% url 'pong_app.views.profiles.team_profile' team_id=tl.team_id %}'>{{ tl.team_name }}</a></td>
        <td><a href='{% url 'pong_app.views.profiles.league_profile' league_id=tl.league_id %}'>{{ tl.league_name }}</a></td>
        <td>{{ tl.elo }}</td>
        <td>{{ tl.league_sport }}</td>
    </tr>
    {% endfor %}
</table>

<p>
    <a href='{% url 'pong_app.views.updates.update_user' user_id=user.id %}'>Update this User
</p>

{% endblock %}
{% endblock %}